:host {
    display: block;
    margin: 20px 0;
  }
  
  .p-datatable {
    text-align: right;
  }
  
  .p-datatable th {
    text-align: right;
  }
  
  .p-datatable td {
    text-align: right;
  }
  
  button {
    margin: 0 5px;
  }