.dashboard-container {
  padding: 20px;
  background-color: #c1c1ba1c;
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

table {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
}

th {
  text-align: ce;
  background-color: #007bff; 
  color: white;
}

td {
  text-align: ce;
  background-color: #f9f9f9;
}

button {
  font-size: 14px;
}